.divHolder{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: start;
    flex-wrap: wrap;
}

.tagHolder{
    padding: 3px 8px 6px 8px;
    border: none;
    background-color: #4B68A1;
    color: white;
    border-radius: 15px;
}

.img{
    width: 100%;
    border-radius: 40px;
}
.horline{
    border: 2px solid #E5E5E5;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quoteHolder{
    width: 100%;
    font-style: italic;
    font-size: 24px;
    text-align: start;
}
.buttonHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.commentsHolder {
    width: 100%;
    display: flex;
    text-align: start;
    flex-wrap: wrap;
    align-items: center;
}

.commentTitle {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}

.commentInputHolder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
