@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
.namingHolder {
    font-family: 'Chau Philomene One', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #172B4D;
}